<div class="pageBackground">
    <div class="container-fluid">
    </div>
    <div class="jumbotron">
        <div class="container-fluid" style="margin-top: 50px">
            <div class="row">
                <div class="col-xs-6 glorify">
                    <h1><span style="color: red">Hello </span>, {{model.user.firstName}}</h1>
                </div>
                <div class="col-xs-6">

                    <div class="pull-right">
                        <img class="img-circle" width="140px" height="140px"
                             ng-src="{{model.user.imageURL || '../../../resources/images/mard.jpg'}} ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

    </nav>
</div>